<html>
    <head>
        <title>Django mysite blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/"> Hello World!</a></h1>
        </div>

        <div>
            <p>published: 09.06.2018, 3:25</p>
            <h2><a href="">What is Templates</a></h2>
            <p>What's a template, you may ask?

A template is a file that we can re-use to present different information in a consistent format – for example, you could use a template to help you write a letter because although each letter might contain a different message and be addressed to a different person, they will share the same format.

A Django template's format is described in a language called HTML (that's the HTML we mentioned in the first chapter, How the Internet works).</p>
        </div>

        <div>
            <p>published: 11.06.2018, 04:14</p>
            <h2><a href="">Pushing code on github</a></h2>
            <p>So if you want to start a new Git repository for an existing code base

$ cd /path/to/my/codebase
$ git init (Initialize) 
$ git clone [URL] (to clone a copy of repo in local)
$ git checkout -b [new branch name] (to create new the branch)
then make some changes in local
$ git checkout [branch name] (to switch the branch) 
$ git status (to check the status of your changes in local, it should be in RED color) 
$ git add . (to add those changes in repo)
$ git status (to check the status of your changes in local, it should be in GREEN color) 
$ git commit (to commit those change with some comments/remarks)
then enter :wq
$ git push origin [branch name] (to push those changes)
$ git merge (if you want to merge that branch with Master branch)</p>
        </div>
    </body>
</html>