<html>
    <head>
        <title>Django mysite blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/"> Hello World!</a></h1>
        </div>

        <div>
            <p>published: 09.06.2018, 3:25</p>
            <h2><a href="">My first post</a></h2>
            <p>What's a template, you may ask?

A template is a file that we can re-use to present different information in a consistent format – for example, you could use a template to help you write a letter because although each letter might contain a different message and be addressed to a different person, they will share the same format.

A Django template's format is described in a language called HTML (that's the HTML we mentioned in the first chapter, How the Internet works).</p>
        </div>

        <div>
            <p>published: 09.06.2018, 04:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>